<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- /bootstrap -->


  <!-- css -->
  <link rel="stylesheet" href="assets/css/style.css">
  <!-- /css -->


  <!-- /mediaquery -->
  <link rel="stylesheet" href="assets/mediaquery/mediaquery.css">
  <!-- /mediaquery -->


  <!-- JQuery -->
  <scrip src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></scrip>
  <!-- /JQuery -->


  <!-- fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />
  <!-- /fontawesome -->


  <!-- google font -->
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <!-- /google font -->

  <title>Boolflix</title>
</head>

<body>

  <div class="wrapper flex column" id="root">
    <!-- header -->
    <header class="flex">
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       <a class="navbar-brand" href="#">Boolflix</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>

       <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
           <li class="nav-item active">
             <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">Movies</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">TV show</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">TV show</a>
           </li>
         </ul>
          <form class="form-inline" @submit.prevent="">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" v-model='initValue'>
            <button class="btn btn-dark my-2 my-sm-0" @click="searchMovie()">Search</button>
          </form>
       </div>
     </nav>
    </header>
    <!-- /header -->

    <!-- main -->
    <main class="flex">
      <div class="movie_card flex column" v-for="(movie, index) in searchList"
        :style="{ backgroundImage: 'url(' + searchList[index].poster_path + ')' }">
      <div class="overlay flex column">
        <h3 class="title">{{searchList[index].title}}</h3>
        <span class="type">{{searchList[index].type}}</span>
        <span class="original_title">{{searchList[index].original_title}}</span>
        <!-- added icons to the movie_card -->
        <img :src="`./assets/img/original_language/${movie.original_language}.png`" alt="" style="width: 30px;">
        <!-- /added icons to the movie card -->
        <div class="stars">
          <span>Vote: </span>
          <i class="fas fa-star" v-for="n in searchList[index].vote_average"></i>
          <i class="far fa-star" v-for="n in (searchList[index].max_vote - searchList[index].vote_average)"></i>
        </div>
        <span v-if="searchList[index].overview != ''">{{ 'OVERVIEW: ' + searchList[index].overview}}</span>
      </div>

    </main>
    <!-- /main -->


    <!-- footer -->
    <footer>

    </footer>
    <!-- /footer -->
  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <!--  Vue Js  -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <!-- /Vue Js -->

  <!-- JS script -->
  <script type="text/javascript" src="assets/js/script.js">
  </script>
  <!-- /JS script -->


</body>

</html>