* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

/* utility */

.wrapper {
  width: 100vw;
  /* align-items: center; */
  justify-content: center;
}

.flex {
  display: flex;
}
.column {
  flex-direction: column;
}

/* /utility */


/* header */

.navbar-brand {
  color: red !important;
}

/* /header */



/* main */
main{
  width: 100vw;
  flex-wrap: wrap;
}

.movie_card {

  width: calc(100%/6);
  align-items: center;
  margin: 0px 5px;
  
}
/* /main */



/* footer */

/* /footer */