* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

/* utility */

.wrapper {
  width: 100vw;
  /* align-items: center; */
  justify-content: center;
}

.flex {
  display: flex;
}
.column {
  flex-direction: column;
}

/* /utility */


/* header */


.navbar-brand {
  color: red !important;
}

/* /header */



/* main */
main{
  width: 100vw;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie_card {

  width: 342px;
  align-items: center;
  justify-content: space-evenly;
  margin: 5px;
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  background-color: #343A40;
  color: white;
  height: 513px;
}

.stars {
  justify-content: center;
}

.bg-image {
  back
}
/* /main */



/* footer */

/* /footer */